<link rel="stylesheet" type="text/css" href="/stylesheets/show.css">
<% include ../partials/nav %>
    <div id="details">
        <section id="show-page">
            <div>
                <h2>
                    <%= game.title %>
                </h2>
            </div>
            <div>
                <h4>Average Rating</h4>
            </div>
            <div>
                <%= game.avgRating %>
            </div>
            <div>
                <h4>History</h4>
            </div>
            <div>
                <%= game.history %>
            </div>
            <div>
                <h4>Why Kids Want to Play</h4>
            </div>
            <div>
                <%= game.whyPop %>
            </div>
    </div>
    </section>
    <br><br>
    <div id="reviewContainer">
        <h2>Reviews</h2>
        <form id="add-review-form" method="POST" action="/games/<%= game._id %>/reviews">
            <label>Rating:</label>
            <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
            <BR>
            <label> Recommended Minimum Age:</label>
            <select name="recAge">
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
        </select>
            <BR>
            <label>Review:</label>

            <textarea name="content"></textarea>
            <input type="submit" value="Add Review">
        </form>

        <% if (game.reviews.length) { %>
            <table>
                <thead>
                    <tr>
                        <th>Rating</th>
                        <th>Recommended Minimum Age</th>
                        <th>Review</th>
                    </tr>
                </thead>
                <tbody>
                    <% game.reviews.forEach(function(g) { %>
                        <tr>
                            <td>
                                <%= g.rating %>
                            </td>
                            <td>
                                <%= g.recAge %>
                            </td>
                            <td>
                                <%= g.reviews %>
                            </td>


                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <% } else { %>
                <h5>No Reviews Yet</h5>
                <% } %>
    </div>
    </div>
    <% include ../partials/footer %>